<div class="container-xl about-page">

  <div class="intro">
    <div class="version">
      <span>v{{ packetJsonVersion }} [<a href="https://github.com/FederationCoin/mempool/commit/{{ frontendGitCommitHash }}">{{ frontendGitCommitHash }}</a>]</span>
    </div>
  </div>

  <div class="about-text">
    <h5>FederationCoin explorer</h5>
    <p>
      This is the FederationCoin mempool and blockchain explorer. Public testnet is live.
      Dummy MAIN is not launched.
    </p>
    <p>
      Corresponding source is at
      <a href="https://github.com/FederationCoin/mempool">github.com/FederationCoin/mempool</a>.
      The public explorer is
      <a href="https://mempool.federationcoin.org">mempool.federationcoin.org</a>.
    </p>
  </div>

  <details class="upstream-copyright">
    <summary>Upstream copyright notices</summary>
    <div class="upstream-copyright-body text-muted">
      <p>
        Copyright &copy; 2019-2026<br>
        Mempool Holdings S.A. de C.V.<br>
        and other shadowy super-coders
      </p>
      <p>
        The corresponding source for this explorer is
        <a href="https://github.com/FederationCoin/mempool">github.com/FederationCoin/mempool</a>.
        Upstream software is free software; you can redistribute it and/or modify it under the terms of the
        <a href="https://www.gnu.org/licenses/agpl-3.0-standalone.html">GNU Affero General Public License</a>
        as published by the Free Software Foundation, either version 3 of the License or any later version
        approved by a proxy statement published on &lt;https://mempool.space/about&gt;.
      </p>
      <p>
        This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the full license terms for more details.
      </p>
      <p>
        This program incorporates software and other components licensed from third parties. See the full list of <a href="/3rdpartylicenses.txt">Third-Party Licenses</a> for legal notices from those projects.
      </p>
    </div>
  </details>

</div>
